<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageBond.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ImageBond.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="cropX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cropY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="allowDrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveDirectory" serializeAs="String">
                <value />
            </setting>
        </ImageBond.Properties.Settings>
    </userSettings>
</configuration>